h1 {
    font: bold 36px Roboto;
    color: rgb(0, 82, 130);
}

h2 {
    font: bold 22px Roboto;
    color: rgb(0, 82, 130);
}

p {
    font: bold 18px Roboto;
    color: rgb(120, 194, 237);
    margin: 10px 0px;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.trophy-container {
    display: flex;
    justify-content: center;
}

.trophy {
    font-size: 160px;
    color: rgb(0, 82, 130);
}

.dice {
    position: absolute;
    font-size: 60px;
    top: 120px;
    color: rgb(255, 255, 255);
}

.reset-button {
    width: 160px;
    height: 50px;
    font: bold 16px Roboto;
    color: rgb(0, 134, 211);
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(0, 134, 211);
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: rgb(0, 134, 211);
    color: rgb(255, 255, 255);
}
